<footer class="text-center text-lg-start">
    <!-- footer fixed-bottom style="padding-top:2em;"> -->
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © Copyright 2021 - Maxime CARICAND & Florian HENRY - ProjetWeb
    </div>
</footer>