<meta charset="UTF-8">
<title>etatsE laeR emoswA</title>
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/custom.css">
<script defer src="/js/brands.js"></script>
<script defer src="/js/solid.js"></script>
<script defer src="/js/fontawesome.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/validateForms.js"></script>

<script>
    function findPropertyByTitle() {
        let searchObj = [{ id: 1, title: "MAISON DE FOU" },
        { id: 2, title: "PETIT APPARTEMENT" },
        { id: 3, title: "GROSSE BARAQUE" },
        { id: 4, title: "MANOIR" },
        { id: 5, title: "EL PALACO" }];


        let titre = document.getElementById('inputsearch').value;

        for (let n = 0; n < searchObj.length; n++) {
            if (searchObj[n].title.toUpperCase() === titre.toUpperCase()) {
                location.href = '/content/detail?id=' + searchObj[n].id;
            }
        }

        alert("No properties ads corresponds to the requested content !\n\n'" + titre + "'");
        document.getElementById('inputsearch').value = "";
    }
</script>