<meta charset="UTF-8">
<title>etatsE laeR emoswA</title>
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/custom.css">
<script defer src="/js/brands.js"></script>
<script defer src="/js/solid.js"></script>
<script defer src="/js/fontawesome.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/validateForms.js"></script>
<script type="text/javascript" src="/js/navbar.js"></script>