<meta charset="UTF-8">
<title>etatsE laeR emoswA</title>

<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">

<script src="/js/bootstrap.min.js"></script>