<!DOCTYPE html>
<html>
<head>
    <%- include('../partials/head'); %>
</head>


<body class="container">
    <header>
        <%- include('../partials/header'); %>
    </header>

    <%- param %><br><br><br>

    <main>
        <h1>This is great</h1>
        <p>Welcome to templating using EJS</p>
    </main>


    <%- include('../partials/footer'); %>
</body>
</html>