<head>
    <meta charset="UTF-8">
    <title>Awsome Real Estate</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/custom.css">
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/validateRegister.js"></script>
</head>