<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="row">
        <div class="col-md-6" style="background-color: yellow; ">
            <p>What's up bro</p>
        </div>
        <div class="col-md-6" style="background-color: blue;">
            <p>Fine</p>
        </div>
    </div>
</body>

</html>