<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <div class="row">
        <div class="col-md-6" style="background-color: yellow; width: 100%;">
            <p>What's up bro</p>
        </div>
        <div class="col-md-6" style="background-color: blue; width: 100%;">
            <p>Fine</p>
        </div>
    </div>
</body>

</html>