<%- include('../views/head')-%>
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-6">
                <div class="card bg-dark text-white" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">
                        <div class="mb-md-5 mt-md-4">
                            <h2 class="fw-bold mb-5">REGISTER</h2>
                            <form class="needs-validation" action="/signup" method="post" novalidate>
                                <div class="form-group">
                                    <div class="form-group form-white mb-4 col-md-12 required">
                                        <label for="email">Email</label>
                                        <input type="email" id="email" class="form-control" required />
                                        <div class="invalid-feedback">
                                            Please provide a valid email.
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-2" name="firstname-lastname">
                                    <div class="form-group form-white mb-4 col-md-6 required">
                                        <label for="firstname">Firstname</label>
                                        <input type="text" id="firstname" class="form-control" required />
                                    </div>
                                    <div class="form-group form-white mb-4 col-md-6 required">
                                        <label for="lastname">Lastname</label>
                                        <input type="text" id="lastname" class="form-control" required />
                                    </div>
                                </div>
                                <div class="row" name="password">
                                    <div class="form-group form-white mb-4 col-md-6 required">
                                        <label for="password">Password</label>
                                        <input type="password" id="password" class="form-control" required />
                                    </div>
                                    <div class="form-group form-white mb-4 col-md-6 required">
                                        <label for="confirmPassword">Confirm password</label>
                                        <input type="password" id="confirmPassword" class="form-control" required />
                                    </div>
                                </div>
                                <div class="form-group form-check mt-2 mb-4">
                                    <input class="form-check-input" type="checkbox" id="cgu" required>
                                    <label class="form-check-label" for="cgu">
                                        I agree to the terms and conditions
                                    </label>
                                    <div class="invalid-feedback">Please accept this to register</div>
                                </div>
                                <button class="btn btn-light btn-lg px-5" type="submit">Register</button>
                            </form>
                        </div>
                        <div>
                            <p class="mb-0">Already have an account?
                                <a href="/login" class="text-white-50 fw-bold">Login</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/js/validateRegister.js"></script>