#startPage {
  margin-top: 1em;
}

#selectAdImage:hover {
  background-color: rgba(25, 186, 186, 0.2);
}

#selectAdAvaila {
  color: rgba(13, 175, 48, 0.8);
  text-align: right;
  vertical-align: top;
}

#selectAdUnavaila {
  color: rgba(253, 27, 27, 0.8);
  text-align: right;
  vertical-align: top;
}

.containerdiv {
  position: relative;
  text-align: center;
}

.cornerimage {
  position: absolute;
}

div.info table {
  margin: auto;
}