<!DOCTYPE html>
<html>
<head>
    <%- include('../partials/head'); %>
</head>


<body class="container">
    <header>
        <%- include('../partials/header'); %>
    </header>


    <main>
        <h1>Incription</h1>
        <label for="surname" style="color:red">(* obligatoire)</label><br><br>
        <form class="needs-validation" novalidate>

            <!-- Données obligatoires -->
            <div class="form-row">
                <div class="col-md-5 mb-3">
                    <label for="surname">Nom et prénom</label>&nbsp;<label for="surname" style="color:red">*</label>
                    <input type="text" class="form-control" id="surname" placeholder="Richard Pierre" required>
                </div>
            </div>

            <div class="form-row">
                <div class="col-md-5 mb-3">
                    <label for="mail">Mail</label>&nbsp;<label for="mail" style="color:red">*</label>
                    <input type="text" class="form-control" id="mail" placeholder="pierre.richard@gmail.com" required>
                </div>
            </div>

            <div class="form-row">
                <div class="col-md-5 mb-3">
                    <label for="mdp1">Mot de passe (8 caractères minimum)</label>&nbsp;<label for="mdp1" style="color:red">*</label><br>
                    <input type="password" minlength="8" id="mdp1" required>
                    <i class="far fa-eye" id="togglePassword" style="margin-left: -30px; cursor: pointer;"></i>
                </div>
            </div>

            <div class="form-row">
                <div class="col-md-5 mb-3">
                    <label for="mdp2">Confirmer le mot de passe</label>&nbsp;<label for="mdp2" style="color:red">*</label><br>
                    <input type="password" id="mdp2" required>
                    <i class="far fa-eye" id="togglePassword" style="margin-left: -30px; cursor: pointer;"></i>
                </div>
            </div>

            <!-- Données facultatives -->
            <div class="form-row">
                <div class="col-md-3 mb-3">
                    <label for="country">Pays</label>
                    <input type="text" class="form-control" id="country" placeholder="France">
                    <select name="pays">
                        <option value="France" selected="selected">France </option>

                        
                    
                        <option value="Afghanistan">Afghanistan </option>
                        <option value="Afrique_Centrale">Afrique_Centrale </option>
                        <option value="Afrique_du_sud">Afrique_du_Sud </option>
                        <option value="Albanie">Albanie </option>
                        <option value="Algerie">Algerie </option>
                        <option value="Allemagne">Allemagne </option>
                        <option value="Andorre">Andorre </option>
                    </select>
                </div>

                <div class="col-md-3 mb-3">
                    <label for="city">Ville</label>
                    <input type="text" class="form-control" id="city" placeholder="Paris">
                </div>

                <div class="col-md-3 mb-3">
                    <label for="cp">Code postal</label>
                    <input type="number" class="form-control" id="cp" min="1" max="999999" placeholder="75000">
                </div>
            </div>

            <div class="form-row">
                <div class="col-md-3 mb-3">
                    <label for="situation">Situation</label>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="seul" id="situation1">
                        <label class="form-check-label" for="situation1">Seul</label>

                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="couple" id="situation2">
                        <label class="form-check-label" for="situation2">Couple</label>

                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="famille" id="situation3">
                        <label class="form-check-label" for="situation3">Famille</label>

                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="rien" id="situation4" checked>
                        <label class="form-check-label" for="situation4">ne préfere pas préciser</label>
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="col-md-3 mb-3">
                    <label for="preference">Préférence</label>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="maison" id="preference1">
                        <label class="form-check-label" for="preference1">Maison</label>

                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="appartement" id="preference2">
                        <label class="form-check-label" for="preference2">Appartement</label>

                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="tout" id="preference3" checked>
                        <label class="form-check-label" for="preference3">Tout</label>
                    </div>
                </div>
            </div>

            <!-- Vérification de l'acceptation de la charte -->
            <div class="form-group">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="cgu" required>
                    <label class="form-check-label" for="cgu">J'accepte les conditions générales d'utilisation et de vente</label>
                    <div class="invalid-feedback">Vous devez accepter les CGU pour continuer</div>
                </div>
            </div>

            <button class="btn btn-primary" type="submit">Incription</button>
        </form>
    </main>

    <script>
        /*La fonction principale de ce script est d'empêcher l'envoi du formulaire si un champ a été mal rempli
         *et d'appliquer les styles de validation aux différents éléments de formulaire*/
        (function() {
            'use strict';
            window.addEventListener('load', function() {
                let forms = document.getElementsByClassName('needs-validation');
                let validation = Array.prototype.filter.call(forms, function(form) {
                    form.addEventListener('submit', function(event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
    </script>


    <%- include('../partials/footer'); %>
</body>
</html>
    