<!DOCTYPE html>
<html>

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container mw-100 px-0 ">
    <%- include('../partials/header',  {user}); %>
    <main>
        <div id="content" class="mx-auto col-11">
            <% if(typeof page === 'undefined') { %>
            <div class="py-5 h-100">
                <div id="imgback" class="row justify-content-center align-items-center">
                    <div class="col-10">
                        <div id="TextWelcome" class="text-center">
                            <h1>Awsome Real Estate website</h1>
                            <h3>Welcome !</h3>
                        </div>
                    </div>
                </div>
            </div>
            <% } else {%>
            <%- include('../content/' + page,  {user, params}); %>
            <% } %>
        </div>
    </main>
    <footer class="footer fixed-bottom bg-white">
        <%- include('../partials/footer'); %>
    </footer>
</body>

</html>